params {
    // xeniumranger resegment
    expansion_distance = false
    dapi_filter = false
    version = "2.0.0"
}

process {
    container = "public.ecr.aws/cirrobio/xeniumranger:${params.version}"
    memory = { 128.GB * task.attempt }
    cpus = { 16 * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 2
}
