params {
    // xeniumranger resegment
    expansion_distance = 15
    dapi_filter = 100
    resegment_nuclei = "True"
}

process {
    container = "769915755291.dkr.ecr.us-west-2.amazonaws.com/xeniumranger:1.7.0"
    memory = { 128.GB * task.attempt }
    cpus = { 16 * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 2
}