params {
    // xeniumranger resegment
    expansion_distance = false
    dapi_filter = false
    resegment_nuclei = false
    version = "2.0.0"
}

process {
    container = "769915755291.dkr.ecr.us-west-2.amazonaws.com/xeniumranger:${params.version}"
    memory = { 128.GB * task.attempt }
    cpus = { 16 * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 2
}